<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">Holiday Recipe Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Recipes <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Shopping List </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <li class="dropdown" dropdown> <!-- {1} -->
        <a dropdownToggle role="button"> <!-- {2} -->
          Dropdown <span class="caret"></span></a>
        <ul *dropdownMenu class="dropdown-menu"> <!-- {3} -->
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
        </ul>
    </li>
      <!--  Begin Dropdown -->
      <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">User Control <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Login</a></li>
          <li><a href="#">Settings</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </li>
    </ul>
    <!-- / End Dropdown -->
  </div>
</nav>